<main class="i-page">
   <div class="i-login">
      <h1>Welcome to KAM 3 Vehicle services</h1>
      <img src="" alt="logo" class="logo">
      <a href="/users/login" type="button" class="btn btn-sm btn-outline-success">login</a>
      <a href="/users/register" type="button" class="btn btn-sm btn-outline-success">register</a>
   </div>
</main>